@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Montserrat:wght@500&display=swap");

.App {
  font-family: "Chivo Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

.icon {
  height: 40px !important;
  width: 40px !important; 
}

.weatherIcon {
  width: 50px;
  height: 50px;
  object-fit: fill;
}

.wrapper {
  display: flex;
  overflow-x: auto;
}

.wrapperItems {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* custom scrollbar  */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2a35;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #403f47;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background-image: linear-gradient(to right, green,green,yellow,orange,red,violet);
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: white; /* Green background */
  cursor: none; /* Cursor on hover */
  border-radius: 10px;
  border: 1px solid black;
}
